<!DOCTYPE html>
<html>
<head>
    <title>Web Service</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
<div class="container">
    <h1>Get Entity by ID</h1>
    <form action="/order" method="get">
        <div class="form-group">
            <label for="id">Entity ID:</label>
            <input type="text" class="form-control" id="id" name="id">
        </div>
        <button type="submit" class="btn btn-primary">Get Entity</button>
    </form>
</div>
</body>
</html>
